<!DOCTYPE html>
<html lang="en">
  <%- include('../header'); %>

  <body>
    <%- include('../menu'); %>

    <!-- Material input -->
    <div class="md-form">
      <input
        type="text"
        id="itemid"
        value="<%= result.itemid %>"
        class="form-control"
        readonly
      />
      <label for="itemname">itemid</label>
    </div>
    <div class="md-form">
      <input
        type="text"
        id="itemname"
        value="<%= result.itemname %>"
        class="form-control"
        readonly
      />
      <label for="itemname">itemname</label>
    </div>

    <!-- Material input -->
    <div class="md-form">
      <input
        type="text"
        id="itemvalue"
        value="<%= result.itemvalue %>"
        class="form-control"
        readonly
      />
      <label for="itemvalue">itemvalue</label>
    </div>
    <div class="md-form">
      <input
        type="text"
        id="howgame"
        value="<%= result.howgame %>"
        class="form-control"
        readonly
      />
      <label for="howgame">howgame</label>
    </div>
    <button
      type="button"
      class="btn btn-brown lighten-3"
      onclick="location.href='/api/item'"
    >
      목록
    </button>

    <button
      type="button"
      class="btn btn-brown lighten-3"
      onclick="location.href='/api/item/<%= result._id %>/edit'"
    >
      수정
    </button>

    <button id="deleteBtn" type="button" class="btn btn-brown lighten-3">
      삭제
    </button>

    <%- include('../footer'); %>
    <script>
      $(function () {
        //삭제
        $("#deleteBtn").on("click", () => {
          const result = confirm("삭제하시겠습니까?");
          if (result) {
            $.ajax({
              url: "/api/item/<%= result._id %>",
              type: "DELETE",
            })
              .done(() => {
                location.href = "/api/item";
              })
              .fail((request, status, error) => {
                alert(request.responseText);
              });
          } else {
            console.log("not deleted");
          }
        });
      });
    </script>
  </body>
</html>
